.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
.header button{
    cursor: pointer;
    padding: 10px 10px;
    background-color: #0376c9;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}
.header button:hover{
    background-color: #0376c9c7;
}
.wallet-address{
    padding: 0px 5px;
}